<MudDialog>
    <DialogContent>
        <MudText Typo="Typo.h3">@Title</MudText>
        <div class="activity-list-content">
            <div class="d-flex flex-column gap-y-2">
                @foreach (var h in _hours)
                {
                    var hhh = h < 10 ? $"0{h}" : $"{h}";
                    var hourText = $"{hhh}:00";

                    <div class="d-flex flex-row gap-x-4">
                        <div class="align-self-center" style="font-size: 1.5rem;">@hourText</div>
                        <div class="activity-list-row" />
                    </div>
                }
            </div>
        </div>
    </DialogContent>
    <DialogActions>
        <MudButton OnClick="Cancel">Cancel</MudButton>
        <MudButton Color="Color.Primary" OnClick="Submit">Ok</MudButton>
    </DialogActions>
</MudDialog>