.day-container {
    display: flex;
    flex-wrap: wrap;
    height: 85vh;
    border-bottom: 1px solid #cccccc;
}

.day {
    flex: 1 1 auto;
    flex-basis: 13%;
    border-top: 1px solid #cccccc;
    border-left: 1px solid #cccccc;
    cursor: default;
}

.activity-list-content {
    width: 500px;
    height: 700px;
    overflow: scroll;
}

.activity-list-row {
    width: 100%;
    height: 50px;
    border: 1px solid black;
    cursor: pointer;
}

.add-activity-body {
    width: 430px;
    display: flex;
    flex-direction: column;
}

.custom-select {
    position: relative;
    width: 150px; /* Szerokoœæ diva */
}

    .custom-select select {
        width: 100%;
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        cursor: pointer;
    }
        /* Styl dla zwiniêtej listy */
        .custom-select select::-ms-expand {
            display: none;
        }

        .custom-select select option {
            font-weight: normal;
        }
    /* Styl dla rozwiniêtej listy */
    .custom-select:after {
        /*  content: '\25BC'; /* Strza³ka w dó³ */
        position: absolute;
        top: 50%;
        right: 10px;
        transform: translateY(-50%);
        pointer-events: none;
    }

.activity-body {
    width: auto;
    height: 24px;
    display: flex;
    background-color: #5496ff;
    margin: 0% 1% 1% 1%;
    cursor: pointer;
    border-radius: 5px;
}

    .activity-body:hover {
        background-color: #317df5;
    }

.activity-title {
    width: fit-content;
    height: fit-content;
    align-self: center;
    padding-left: 5%;
    font-weight: bold;
    color: white;
    font-size: 0.85rem;
}

.activity-open-icon {
    border-radius: 50% !important;
    width: 40px;
    height: 40px;
    color: rgb(95,99,104) !important;
}

.hide-text-on-overflow {
    text-overflow: clip;
    white-space: nowrap;
    overflow: hidden;
}

.day-number {
    font-weight: 400;
    color: #3c4043;
    font-size: 26px;
    line-height: 40px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    text-align: center;
}

.day-short-name {
    font-size: 13px;
    letter-spacing: .8px;
    line-height: 16px;
    font-weight: bold;
}

.bar-container {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0px 10px;
}

    .bar-container .centered {
        flex-grow: 1;
        text-align: center;
        display: flex;
        justify-content: center;
    }

    .bar-container .right {
        position: absolute;
        right: 10px;
    }

.option {
    height: 30px;
    padding: 0px 25px;
    display: flex;
    justify-content: start;
    align-items: center;
}

    .option:hover {
        background-color: #eee;
        cursor: pointer;
    }

.icon-contener {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 30px;
    margin-right: 25px;
}

.stack-divider {
    border-bottom: 1px solid #ccc;
    padding-bottom: 2%;
}

.disabled {
    color: #aaa;
}

    .disabled:hover {
        background-color: inherit !important;
        cursor: default !important
    }

.repetition {
    border-radius: 5px;
}

    .repetition:hover {
        background-color: #eee;
        cursor: default;
    }

.month-title {
    width: 300px;
    height: 56px;
    margin: 0% 1%;
    text-align: center;
    align-content: center;
    cursor: default;
}