<MudPopover Style="padding: 10px;"
            Open="ActivityRef.OpenActivityListPopover"
            Fixed="true"
            AnchorOrigin="Origin.TopLeft"
            TransformOrigin="@Origin.TopRight">
    <div class="d-flex flex-column" style="width: 225px; height: auto;">
        <div class="d-flex justify-center">
            <span class="day-short-name" style="">@(_shortDayWeekName)</span>
        </div>
        <div class="d-flex justify-end" style="margin-top: -10px;">
            <MudIconButton Class="activity-open-icon" OnClick="ClosePopover" Size="Size.Small" Icon="fa-solid fa-x" />
        </div>
        <div class="d-flex justify-center" style="margin-top: -30px;">
            <span class="day-number">@(_dayNumber)</span>
        </div>
        @foreach (var a in _activitiesDto)
        {
            var localTitle = a.Title ?? "(Bez tytułu)";

            <div class="activity-body" @onclick="(() => OpenActivityPopover(a))">
                <span class="activity-title hide-text-on-overflow">@localTitle</span>
            </div>
            <ActivityPopover ActivityRef="ActivityRef" ActivityDto="a" />
        }
    </div>
</MudPopover>