<div @onclick:stopPropagation="true">
    @*
        Div, który ma ustawiony stop propagation na true blokuje uruchomienie działań
        z komponentu rodzica, tzn. w przypadku nałożenia na siebie dwóch komponentów,
        gdzie oba mają eventy onclick, ale jeden jest dzieckiem rodzica,
        ten który ma stop propagation na true (dziecko) zostanie uruchomiony
    *@
    @if (ActivitiesDto is not null && ActivitiesDto.Count > 0)
    {
        var dayNumber = Day.DayDto.Day.Day;
        var isBetween1and7 = (dayNumber >= 1) && (dayNumber <= 7);
        var take = isBetween1and7 ? 3 : 4;
        var topActivities = ActivitiesDto.Take(take);

        @foreach (var a in topActivities)
        {
            var localTitle = a.Title ?? "(Bez tytułu)";

            <div class="activity-body" @onclick="(() => OpenPopover(a))">
                <span class="activity-title hide-text-on-overflow">@localTitle</span>
            </div>
            <ActivityPopover ActivityRef="this" ActivityDto="a" />
        }
        @if (ActivitiesDto.Count > take)
        {
            var leftActivities = ActivitiesDto.Count - take;

            <div class="activity-body">
                <span class="activity-title hide-text-on-overflow">Jeszcze @(leftActivities)</span>
            </div>
        }
    }
</div>