<div @onclick:stopPropagation="true">
    @*
        Div, który ma ustawiony stop propagation na true blokuje uruchomienie działań
        z komponentu rodzica, tzn. w przypadku nałożenia na siebie dwóch komponentów,
        gdzie oba mają eventy onclick, ale jeden jest dzieckiem rodzica,
        ten który ma stop propagation na true (dziecko) zostanie uruchomiony
    *@
    @if (ActivitiesDto is not null && ActivitiesDto.Count > 0)
    {
        var top4activities = ActivitiesDto.Take(4);

        @foreach (var a in top4activities)
        {
            var localTitle = a.Title ?? "(Bez tytułu)";

            <div class="activity-body" @onclick="(() => OpenPopover(a))">
                <span class="activity-title">@localTitle</span>
                <OpenActivityPopover Activity="this" ActivityDto="a" />
            </div>
        }
        @if (ActivitiesDto.Count > 4)
        {
            var leftActivities = ActivitiesDto.Count - 4;

            <div class="activity-body">
                <span class="activity-title">Jeszcze @(leftActivities)</span>
            </div>
        }
    }
</div>