<div class="day" @onclick="OpenDialog">
    @if (DayDto.Day.Day <= 7)
    {
        var culture = new System.Globalization.CultureInfo("pl-PL");
        var weekName = culture.DateTimeFormat.GetDayName(DayDto.Day.DayOfWeek);
        <MudText Class="hide-text-on-overflow" Align="Align.Center">@(weekName)</MudText>
    }
    <MudText Align="Align.Center">@(_dayText)</MudText>
    <Activity Day="this" ActivitiesDto="DayDto?.Activities" />
</div>