<div class="d-flex flex-column">
    @if (DayDto.Day.Day <= 7)
    {
        var culture = new System.Globalization.CultureInfo("pl-PL");
        <div style="width: 271px; height: 20px; border-bottom: 0.1rem solid #cccccc; border-right: 0.1rem solid white !important; text-align: center;">
            @culture.DateTimeFormat.GetDayName(DayDto.Day.DayOfWeek)
        </div>
    }
    <div class="day" @onclick="OpenDialog">
        <MudText Align="Align.Center">@(_dayText)</MudText>
        <Activity Day="this" ActivitiesDto="DayDto?.Activities" />
    </div>
</div>