<div class="d-flex flex-column gap-y-4">
    <MudStack Class="stack-divider">
        <div style="padding-left: 5%;">Sortuj według</div>
        <div class="option" @onclick="CloseMenu">
            <div class="icon-contener">
                <MudIcon Icon="@Icons.Material.Filled.Done"></MudIcon>
            </div>
            <div>
                Data
            </div>
        </div>
    </MudStack>
    <MudStack Class="stack-divider">
        <div class="option" @onclick="OpenChangeListNameDialog">
            Zmień nazwę listy
        </div>
        <div class="d-flex flex-column">
            <div class="@_optionClass" @onclick="(async () => await OpenDeleteListDialog())">
                Usuń listę
            </div>
            @if (_isDefualt)
            {
                <div class="disabled" style="height: 30px; padding: 0px 25px; font-size: 0.8rem;">
                    Listy domyślnej nie można usunąć
                </div>
            }
        </div>
    </MudStack>
    <MudStack>
        <div class="option disabled">
            Usuń wszystkie zakończone zadania
        </div>
    </MudStack>
</div>