<div class="bar-container">
    <div class="centered">
        <MudFab OnClick="DecreaseMonth"
                Class="align-self-center"
                Style="font-size: 10px;"
                StartIcon="@Icons.Material.Filled.KeyboardArrowLeft"
                Size="Size.Small"
                Color="Color.Primary">
            Zmniejsz miesiąc
        </MudFab>
        @{
            var year = _monthDto.Year != 0 ? _monthDto.Year.ToString() : string.Empty;
            <MudText Style="width: 370px; height: 56px; margin: 0% 1%; text-align: center;" Typo="Typo.h3">@(_monthName) @(year)</MudText>
        }
        <MudFab OnClick="IncreaseMonth"
                Class="align-self-center"
                Style="font-size: 10px;"
                StartIcon="@Icons.Material.Filled.KeyboardArrowRight"
                Size="Size.Small"
                Color="Color.Primary">
            Zwiększ miesiąc
        </MudFab>
    </div>
    <div class="right">
        <LoginLinks />
    </div>
</div>

<CascadingValue TValue="Month" Name="MonthRef" Value="this">
    <div class="month-top">
        @{
            var dayCount = 1;

            <div style="width: fit-content; height: fit-content;">
                @for (int week = 1; week <= _weeks; week++) //Render weeks
                {
                    int daysToRender = _daysInLastWeek > 0 ? week < _weeks ? 7 : _daysInLastWeek : 7;

                    <div class="d-flex flex-row week">
                        @for (int day = 0; day < daysToRender; day++) //Render days
                        {
                            var dayDto = _monthDto.Days.FirstOrDefault(x => x.Day.Day == dayCount);
                            <Day DayDto="dayDto" />

                            dayCount++;
                        }
                    </div>

                }
            </div>
        }
    </div>
</CascadingValue>