@page "/"

<PageTitle>Kalendarz</PageTitle>

<CascadingValue TValue="int" Name="UserId" Value="_userId">
    @if (_isInitialized)
    {
        <div class="month-contener">
            <div class="month">
                <Month CalendarRef="this" />
            </div>
        </div>
    }
</CascadingValue>