@page "/"

<PageTitle>Home</PageTitle>

<CascadingValue TValue="int" Name="UserId" Value="_userId">
    <div class="month-contener">
        <div class="month">
            <Month />
        </div>
    </div>
</CascadingValue>