@page "/tasks"

<PageTitle>Lista zadań</PageTitle>

<div style="width: 99vw; height: 93vh; padding: 1%; background-color: #f8f9fa">
    <div class="d-flex flex-row" style="width: 100%; height: 100%;">
        <div class="d-flex flex-column" style="min-width: 15%; height: 100%; overflow-y: scroll; overscroll-behavior-y: auto;">
            <div class="d-flex justify-center">
                <MudFab OnClick=OpenAddListDialog StartIcon="@Icons.Material.Filled.Add" DisableElevation="true" Label="Utwórz nową listę" />
            </div>
            <MudList Clickable="true">
                <MudListItem Text="Listy" InitiallyExpanded="true" Dense="false">
                    <NestedList>
                        @foreach (var item in lists)
                        {
                            <MudListItem Dense="true" OnClick="(() => item.IsChecked = !item.IsChecked)">
                                <MudCheckBox Dense="true" @bind-Value="item.IsChecked" Label="@item.Name"></MudCheckBox>
                            </MudListItem>
                        }
                    </NestedList>
                </MudListItem>
            </MudList>
        </div>
        <div style="height: 100%; overflow-x: scroll;">
            <MudStack Row="true" Justify="Justify.FlexStart" Wrap="Wrap.NoWrap">
                @foreach (var item in lists.Where(x => x.IsChecked))
                {
                    <TaskList CustomList="item" />
                }
            </MudStack>
        </div>
    </div>
</div>