.month {
    width: 100%;
    height: 100%;
    padding: 1%;
}

    .month .month-contener {
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 90vh;
    }

    .month .month-top {
        border-top: 0.1rem solid #cccccc;
    }

.day {
    width: 29vh;
    height: 15vh;
    border-left: 0.1rem solid #cccccc;
    margin: 0.0rem;
}

.week {
    width: fit-content;
    border-right: 0.1rem solid #cccccc;
    border-bottom: 0.1rem solid #cccccc;
}

.activity-list-content {
    width: 500px;
    height: 700px;
    overflow: scroll;
}

.activity-list-row {
    width: 100%;
    height: 50px;
    border: 1px solid black;
    cursor: pointer;
}

.add-activity-body {
    width: 430px;
    display: flex;
    flex-direction: column;
}