@inherits LayoutComponentBase

<MudThemeProvider />
<MudDialogProvider />
<MudSnackbarProvider />

@* <MudLayout>
    <MudAppBar Dense="true">
        My Application
    </MudAppBar>
    <MudDrawer Open="false" ClipMode="DrawerClipMode.Docked">
        <NavMenu />
    </MudDrawer>
    <MudMainContent Style="">
        @Body
    </MudMainContent>
</MudLayout> *@

<div>
    <main>
        <div>
            @Body
        </div>
    </main>
</div>