<div class="d-flex">
    <MudButton OnClick="DecreaseMonth"
               Class="align-self-center"
               Style="height: fit-content; padding: 0.2rem 0.4rem;"
               Variant="Variant.Filled"
               Color="Color.Primary"
               Size="Size.Small">
        Zmniejsz miesiąc
    </MudButton>
    <MudText Style="width: 370px; margin: 0% 1%;" Typo="Typo.h3">@(monthName) @(MonthBody.Year)</MudText>
    <MudButton OnClick="IncreaseMonth"
               Class="align-self-center"
               Style="height: fit-content; padding: 0.2rem 0.4rem;"
               Variant="Variant.Filled"
               Color="Color.Primary"
               Size="Size.Small">
        Zwiększ miesiąc
    </MudButton>
</div>

<div class="month-top">
    @if (_days is not null || _days?.Count > 0)
    {
        var dayCount = 1;

        @for (int week = 1; week <= weeks; week++) //Render weeks
        {
            int daysToRender = daysInLastWeek > 0 ? week < weeks ? 7 : daysInLastWeek : 7;

            <div class="d-flex flex-row week">
                @for (int day = 0; day < daysToRender; day++) //Render days
                {
                    var dayObject = _days.FirstOrDefault(x => x.Day == dayCount);
                    <Day DayBody="dayObject" MonthRef="this" />

                    dayCount++;
                }
            </div>
        }
    }
</div>